In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import chi2_contingency

Q4. TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

State the null and alternative hypotheses:

Null Hypothesis (H0):There is no significant relationship between center and defective status.

Alternative Hypothesis (Ha):There is a significant relationship between center and defective status.

In [2]:
df = pd.read_csv('CustomerOrderForm.csv')

In [3]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [5]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [6]:
# Create a contingency table to represent the observed frequencies of defects for each center
contingency_table = pd.crosstab(df['Phillippines'], [df['Indonesia'], df['Malta'], df['India']])

# Perform the chi-squared test for independence
chi2, p, _, _ = chi2_contingency(contingency_table)

# Set the significance level (alpha)
alpha = 0.05

# Print the results
print(f'Chi-squared statistic: {chi2}')
print(f'P-value: {p}')
print()

# Check if p-value is less than alpha to make a decision
if p < alpha:
    print('Reject the Null Hypothesis: There is a significant relationship between center and defective status.')
else:
    print('Answer(Q4):Fail to reject the Null Hypothesis: There is no significant relationship between center and defective status.')

Chi-squared statistic: 3.1001395592512266
P-value: 0.6845505149379718

Answer(Q4):Fail to reject the Null Hypothesis: There is no significant relationship between center and defective status.