In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import chi2_contingency

Q3.Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

1. Check p-value

2. If p-Value < alpha, we reject Null Hypothesis

State the null and alternative hypotheses:

Null Hypothesis (H0):All proportions are equal

Alternative Hypothesis (Ha): Not all Proportions are equal

In [2]:
df = pd.read_csv('BuyerRatio.csv')

In [3]:
df.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 212.0+ bytes

In [5]:
df.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [8]:
# Create a contingency table
observed_values = df.set_index('Observed Values')[['East', 'West', 'North', 'South']]

# Perform the chi-squared test for independence
chi2, p, _, _ = chi2_contingency(observed_values)

# Set the significance level (alpha)
alpha = 0.05

# Print the results
print(f'Chi-squared statistic: {chi2}')
print(f'P-value: {p}')
print()

# Check if p-value is less than alpha to make a decision
if p < alpha:
    print('Reject the Null Hypothesis: Not all proportions are equal')
else:
    print('Answer(Q3):Fail to reject the Null Hypothesis: All proportions are equal')

Chi-squared statistic: 1.595945538661058
P-value: 0.6603094907091882

Answer(Q3):Fail to reject the Null Hypothesis: All proportions are equal