In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Q7.csv')

In [3]:
df.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [4]:
df.tail()

        Unnamed: 0  Points  Score  Weigh
27    Lotus Europa    3.77  1.513   16.9
28  Ford Pantera L    4.22  3.170   14.5
29    Ferrari Dino    3.62  2.770   15.5
30   Maserati Bora    3.54  3.570   14.6
31      Volvo 142E    4.11  2.780   18.6

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   Points      32 non-null     float64
 2   Score       32 non-null     float64
 3   Weigh       32 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.1+ KB

In [6]:
df.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [7]:
# Defining the columns
columns_to_analyze = ['Points', 'Score', 'Weigh']

# finding Mean, Median, Mode, Variance, Standard Deviation and Range
for column in columns_to_analyze:
    print(f"Statistics for {column} column:")
    print("Mean:", round(df[column].mean(), 2))
    print("Median:", round(df[column].median(), 2))
    print("Mode:", round(df[column].mode().iloc[0], 2))
    print("Variance:", round(df[column].var(), 2))
    print("Standard deviation:", round(df[column].std(), 2))
    print("Range:", round(df[column].max() - df[column].min(), 2))
    print("\n")

Statistics for Points column:
Mean: 3.6
Median: 3.7
Mode: 3.07
Variance: 0.29
Standard deviation: 0.53
Range: 2.17


Statistics for Score column:
Mean: 3.22
Median: 3.32
Mode: 3.44
Variance: 0.96
Standard deviation: 0.98
Range: 3.91


Statistics for Weigh column:
Mean: 17.85
Median: 17.71
Mode: 17.02
Variance: 3.19
Standard deviation: 1.79
Range: 8.4

#### Inferences drawn
The cars in the dataset are relatively similar in terms of their points and scores.

And, there is more variation in the weights of the cars.